################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebCrawler/.vs/WebCrawler

bin/
obj/
.suo
*.testlog
*.manifest
*.exe